.about {
  padding-top: $padding-mobile;

  @include laptop {
    padding-top: $padding-pc;
  }

  &__title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 24px;

    @include laptop {
      font-size: 36px;
      margin-left: 25%;
      margin-bottom: 36px;
    }
  }

  &__subtitle {
    font-size: 22px;
    line-height: 145%;

    @include laptop {
      text-indent: 25%;
      font-size: 24px;
    }
  }

  &__content {
    margin-top: 36px;
    display: grid;
    gap: 36px;

    @include laptop {
      grid-template-columns: 2fr 2fr;
    }
  }

  &__text {
    margin-top: 36px;

    @include laptop {
      margin-top: 24px;
      display: flex;
      gap: 36px;
    }
  }

  &__text p {
    margin-bottom: 16px;

    @include laptop {
      margin-bottom: 0;
    }
  }

  &__box {
    margin: 0 auto;

    @include laptop {
      margin: 0;
    }
  }
}
