.brand {
  @include laptop {
    margin-top: 60px;
  }

  &__title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include laptop {
      font-size: 36px;
      margin-left: 25%;
      margin-bottom: 36px;
    }
  }

  &__subtitle {
    @include laptop {
      font-size: 22px;
      line-height: 145%;
      text-indent: 25%;
      margin-bottom: 30px;
    }
  }

  &__logo {
    display: none;

    @include tablet {
      display: block;
      width: 240px;
      height: 240px;
      border: 1px solid #cfcfcf;
      border-radius: 50%;
      padding: 55px;
      box-sizing: border-box;
      justify-self: center;
    }

    @include laptop {
      width: 310px;
      height: 310px;
    }
  }

  &__content {
    display: grid;
    gap: 36px;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 48px;
    }
  }

  &__columns {
    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 70px;
    }
  }

  &__article {
    overflow: hidden;

    @include tablet {
      background-color: $blue;
      margin-top: 60px;
    }
  }

  &__list {
    display: grid;
    gap: 80px;
    margin-top: 80px;
    margin-bottom: 60px;

    @include tablet {
      margin-top: 130px;
      margin-bottom: 150px;
      gap: 130px;
    }
  }

  &__item {
    @include tablet {
      color: $white;
      display: grid;
      grid-template-columns: 300px 1fr;
      gap: 105px;
    }
  }

  &__item--accent {
    color: $white;
    position: relative;
  }

  &__item--accent::after {
    content: "";
    width: 200%;
    height: 120%;
    background-color: $blue;
    position: absolute;
    top: 80px;
    left: -50px;
    z-index: -1;

    @include tablet {
      content: none;
    }
  }
}
