.circle-box {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: $accent-color;
  text-align: center;
  display: grid;
  gap: 16px;

  &--small {
    width: 226px;
    height: 226px;
    gap: 10px;
  }

  &--small &__title {
    align-self: start;
  }

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    align-self: end;
  }

  &__text {
    font-size: 14px;
    margin: 0 24px;
    line-height: 120%;

    &--up {
      align-self: end;
      text-transform: uppercase;
    }
  }
}
