.facts {
  margin-top: $padding-mobile;

  @include laptop {
    margin-top: $padding-pc;
  }
}

.facts__container {
  display: grid;

  @include laptop {
    grid-template-columns: 3fr 9fr;
  }
}

.facts__sidebar {
  order: 1;

  @include laptop {
    order: -1;
  }
}

.facts__content {
  @include laptop {
    position: sticky;
    top: 120px;
  }
}

.facts__item {
  background-color: $gray;
  padding: 32px;
  position: relative;

  @include laptop {
    padding: 48px 126px;
  }

  &::before {
    content: '';
    width: 36px;
    height: 39px;
    background-image: url(../img/svg/logo-facts.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 16px;
    position: absolute;

    @include laptop {
      margin-bottom: 0;
      margin-right: 24px;
    }
  }

  & + & {
    margin-top: 32px;
  }

}

.facts__item p {
  margin-top: 60px;

  @include laptop {
    margin-top: 0;
    margin-left: 60px;
  }

  & + p {
    margin-top: 16px;
  }
}

.facts__text {
  margin: 36px 0;

  @include laptop {
    margin: 0 50px 36px 0;
  }
}
