.footer {
  background-color: $black;
  padding: 48px 0;

  &__container {
    @include tablet {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }

  &__logo {
    display: flex;
    gap: 24px;
    margin-bottom: 36px;

    @include laptop {
      gap: 32px;
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__name {
    color: $white;
    font-size: 24px;
    font-weight: 600;
    line-height: 145%;
    text-transform: uppercase;

    @include laptop {
      font-size: 36px;
    }
  }
}


.footer-menu {
  color: $white;

  @include laptop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: end;
    gap: 16px 36px;
  }

  &__item + &__item {
    margin-top: 16px;

    @include laptop {
      margin-top: 0;
    }
  }

  &__link {
    color: $white;
    transition: $transition;
    text-transform: uppercase;

    &:hover {
      color: $accent-color;
    }
  }

  &__text {
    text-transform: uppercase;
    max-width: 400px;
  }

  &__item:nth-child(2) {
    @include tablet {
      order: 2;
    }
  }
}
