.form {
  display: grid;
  gap: 24px;
  margin-top: 24px;
}

.input {
  border: 1px solid $black;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
}

button {
  cursor: pointer;
}
