.goods {
  padding-top: $padding-mobile;

  @include laptop {
    padding-top: $padding-pc;
  }
}

.goods__container {
  @include laptop {
    display: flex;
    align-items: center;
    gap: 36px;
  }
}

.goods__title {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 24px;

  @include laptop {
    margin-bottom: 36px;
  }
}

.goods__subtitle {
  font-size: 22px;
  line-height: 145%;
  margin-top: 24px;
  margin-bottom: 16px;
}

.goods__end {
  margin-top: 16px;
  margin-bottom: 36px;
}

.goods__content {
  margin-top: 36px;

  @include laptop {
    width: 50%;
    margin-top: 0;
  }
}
