.header {
  width: 100%;
  background-color: $white;
  position: fixed;
}

.header__container {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include laptop {
    height: 80px;
  }
}

.header__logo {
  @include laptop {
    margin-right: 80px;
  }
}
