.header {
  width: 100%;
  background-color: $white;
  position: fixed;
  z-index: 1;

  &__container {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include laptop {
      height: 80px;
    }
  }

  &__logo {
    @include laptop {
      display: flex;
      flex-shrink: 0;
      margin-right: 80px;
    }
  }
}
