.hero {

  &__image {
    height: 572px;
    display: flex;
    justify-content: center;
    background-color: $gray;
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    box-sizing: border-box;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero@2x.jpg");
    }

    @include tablet {
      height: 644px;
      justify-content: start;
      background-image: url("../img/hero-pc.jpg");
      padding: 50px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero-pc@2x.jpg");
      }
    }
  }
}
